/*--------------------
		MARGIN
--------------------*/
.MA {margin: auto !important}

.M0 {margin: 0 !important}
.MT0 {margin-top: 0 !important}
.MR0 {margin-right: 0 !important}
.MB0 {margin-bottom: 0 !important}
.ML0 {margin-left: 0 !important}

.MT5 {margin-top: 5px !important}
.MR5 {margin-right: 5px !important}
.MB5 {margin-bottom: 5px !important}
.ML5 {margin-left: 5px !important}

.MT10 {margin-top: 10px !important}
.MR10 {margin-right: 10px !important}
.MB10 {margin-bottom: 10px !important}
.ML10 {margin-left: 10px !important}

.MT15 {margin-top: 15px !important}
.MR15 {margin-right: 15px !important}
.MB15 {margin-bottom: 15px !important}
.ML15 {margin-left: 15px !important}

.MT20 {margin-top: 20px !important}
.MR20 {margin-right: 20px !important}
.MB20 {margin-bottom: 20px !important}
.ML20 {margin-left: 20px !important}

.MT25 {margin-top: 25px !important}
.MR25 {margin-right: 25px !important}
.MB25 {margin-bottom: 25px !important}
.ML25 {margin-left: 25px !important}

.MT30 {margin-top: 30px !important}
.MR30 {margin-right: 30px !important}
.MB30 {margin-bottom: 30px !important}
.ML30 {margin-left: 30px !important}

.MT40 {margin-top: 40px !important}
.MR40 {margin-right: 40px !important}
.MB40 {margin-bottom: 40px !important}
.ML40 {margin-left: 40px !important}

.MT50 {margin-top: 50px !important}
.MR50 {margin-right: 50px !important}
.MB50 {margin-bottom: 50px !important}
.ML50 {margin-left: 50px !important}

.MT60 {margin-top: 60px !important}
.MR60 {margin-right: 60px !important}
.MB60 {margin-bottom: 60px !important}
.ML60 {margin-left: 60px !important}

.MT70 {margin-top: 70px !important}
.MR70 {margin-right: 70px !important}
.MB70 {margin-bottom: 70px !important}
.ML70 {margin-left: 70px !important}

.MT80 {margin-top: 80px !important}
.MR80 {margin-right: 80px !important}
.MB80 {margin-bottom: 80px !important}
.ML80 {margin-left: 80px !important}

.MT90 {margin-top: 90px !important}
.MR90 {margin-right: 90px !important}
.MB90 {margin-bottom: 90px !important}
.ML90 {margin-left: 90px !important}

.MT100 {margin-top: 100px !important}
.MR100 {margin-right: 100px !important}
.MB100 {margin-bottom: 100px !important}
.ML100 {margin-left: 100px !important}





/*--------------------
		PADDING
--------------------*/
.PA0 {padding: 0 !important}
.PAb0 {padding-left: 0 !important; padding-right: 0 !important}
.PAl0 {padding-left: 0 !important}
.PAr0 {padding-right: 0 !important}





/*--------------------
		COLOR
--------------------*/
.red {color: red}





/*--------------------
		FONT-SIZE
--------------------*/
.fs10 {font-size: 10px !important}
.fs11 {font-size: 11px !important}
.fs12 {font-size: 12px !important}
.fs13 {font-size: 13px !important}
.fs14 {font-size: 14px !important}
.fs15 {font-size: 15px !important}
.fs16 {font-size: 16px !important}
.fs17 {font-size: 17px !important}
.fs18 {font-size: 18px !important}
.fs19 {font-size: 19px !important}
.fs20 {font-size: 20px !important}





/*--------------------
		ALIGN-EQUAL
--------------------*/
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap;}
.align-center {display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center;}





/*--------------------
		ANOTHER
--------------------*/
* {margin: 0; padding: 0}
html, body {height: 100%; min-height: 100%}
a {text-decoration: none !important; color: inherit !important}
a:hover {color: inherit !important;}
.clear {clear: both;}
ul {list-style: none;}